# Data Inspection
Author(s): Tomaso Stefanizzi

Description:
In this notebook I'm cleaning the data + merging two tables

## Imports

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os as os

### read data

In [2]:
dest_path = 'dataset/modified_data/DW_ARPT_DEST.csv'
orig_path = 'dataset/modified_data/DW_ARPT_ORIGEM.csv'
company_path = 'dataset/modified_data/DW_EMPRESA.csv'
equip_path = 'dataset/modified_data/DW_EQPT.csv'
line_path = 'dataset/modified_data/DW_TIPO_LINHA.csv'
#voos_path = 'dataset/DW_VOO.csv'

#read the data
dest = pd.read_csv(dest_path)
orig = pd.read_csv(orig_path)
company = pd.read_csv(company_path)
equip = pd.read_csv(equip_path)
line = pd.read_csv(line_path)
#voos = pd.read_csv(voos_path)

### dest

In [3]:
dest.head()

,DT_CARGA_DW,id_aerodromo_destino,sg_icao_destino,sg_iata_destino,nm_aerodromo_destino,nm_municipio_destino,sg_uf_destino,nm_regiao_destino,nm_pais_destino,nm_continente_destino,nr_escala_destino
0,2020-12-28T16:10:21,162,SBKP,VCP,VIRACOPOS,CAMPINAS,SP,SUDESTE,BRASIL,AMÉRICA DO SUL,NaN
1,2020-12-28T16:10:21,230,GOOY,DKR,DACAR,DACAR,NaN,NaN,SENEGAL,ÁFRICA,NaN
2,2020-12-28T16:10:21,275,EDDF,FRA,FRANKFURT INTERNATIONAL AIRPORT,FRANKFURT AM MAIN,NaN,NaN,ALEMANHA,EUROPA,NaN
3,2020-12-28T16:10:21,467,KMIA,MIA,MIAMI INTERNATIONAL AIRPORT,"MIAMI, FLORIDA",NaN,NaN,ESTADOS UNIDOS DA AMÉRICA,AMÉRICA DO NORTE,NaN
4,2020-12-28T16:10:21,626,SBGL,GIG,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO (GAL...,RIO DE JANEIRO,RJ,SUDESTE,BRASIL,AMÉRICA DO SUL,NaN

In [4]:
# drop the columns that are not useful
dest = dest.drop(['sg_uf_destino', 'nm_regiao_destino', 'nr_escala_destino'], axis=1)

In [5]:
dest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DT_CARGA_DW            1025 non-null   object
 1   id_aerodromo_destino   1025 non-null   int64
 2   sg_icao_destino        1025 non-null   object
 3   sg_iata_destino        755 non-null    object
 4   nm_aerodromo_destino   1025 non-null   object
 5   nm_municipio_destino   1025 non-null   object
 6   nm_pais_destino        1025 non-null   object
 7   nm_continente_destino  1025 non-null   object
dtypes: int64(1), object(7)
memory usage: 64.2+ KB

In [6]:
# drop the null values in the dataset
dest = dest.dropna()

dest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 755 entries, 0 to 1024
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DT_CARGA_DW            755 non-null    object
 1   id_aerodromo_destino   755 non-null    int64
 2   sg_icao_destino        755 non-null    object
 3   sg_iata_destino        755 non-null    object
 4   nm_aerodromo_destino   755 non-null    object
 5   nm_municipio_destino   755 non-null    object
 6   nm_pais_destino        755 non-null    object
 7   nm_continente_destino  755 non-null    object
dtypes: int64(1), object(7)
memory usage: 53.1+ KB

In [7]:
dest.drop(['DT_CARGA_DW'], axis=1, inplace=True)

### orig

In [8]:
orig.head()

,id_aerodromo_origem,DT_CARGA_DW,sg_icao_origem,sg_iata_origem,nm_aerodromo_origem,nm_municipio_origem,sg_uf_origem,nm_regiao_origem,nm_pais_origem,nm_continente_origem
0,0,2020-12-28T16:10:21,N/I,N/I,NÃO IDENTIFICADO,NÃO IDENTIFICADO,NaN,NÃO IDENTIFICADO,NÃO IDENTIFICADO,NÃO IDENTIFICADO
1,1,2020-12-28T16:10:21,OMAA,AUH,AB DHABI INTERNATIONAL,AB DHABI INTERNATIONAL,NaN,NaN,EMIRADOS ÁRABES UNIDOS,ÁSIA
2,3,2020-12-28T16:10:21,DIAP,ABJ,PORT BOUET AIRPORT (FELIX HOUPHOUET BOIGNY INT...,ABIDJAN,NaN,NaN,COSTA DO MARFIM,ÁFRICA
3,4,2020-12-28T16:10:21,MMAA,ACA,GENERAL JUAN N. ÁLVAREZ INTERNATIONAL AIRPORT,ACAPULCO/GEN.JUAN ALVAREZ,NaN,NaN,MÉXICO,AMÉRICA DO NORTE
4,5,2020-12-28T16:10:21,DGAA,ACC,KOTOKA INTERNATIONAL AIRPORT,ACCRA,NaN,NaN,GANA,ÁFRICA

In [9]:
#drop the columns that are not useful
orig = orig.drop(['sg_uf_origem', 'nm_regiao_origem'], axis=1)

In [10]:
orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 994 entries, 0 to 993
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_aerodromo_origem   994 non-null    int64
 1   DT_CARGA_DW           994 non-null    object
 2   sg_icao_origem        994 non-null    object
 3   sg_iata_origem        732 non-null    object
 4   nm_aerodromo_origem   994 non-null    object
 5   nm_municipio_origem   994 non-null    object
 6   nm_pais_origem        994 non-null    object
 7   nm_continente_origem  994 non-null    object
dtypes: int64(1), object(7)
memory usage: 62.3+ KB

In [11]:
#drop the null values in the dataset
orig = orig.dropna()

orig.info()

<class 'pandas.core.frame.DataFrame'>
Index: 732 entries, 0 to 993
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_aerodromo_origem   732 non-null    int64
 1   DT_CARGA_DW           732 non-null    object
 2   sg_icao_origem        732 non-null    object
 3   sg_iata_origem        732 non-null    object
 4   nm_aerodromo_origem   732 non-null    object
 5   nm_municipio_origem   732 non-null    object
 6   nm_pais_origem        732 non-null    object
 7   nm_continente_origem  732 non-null    object
dtypes: int64(1), object(7)
memory usage: 51.5+ KB

In [12]:
orig.drop(['DT_CARGA_DW'], axis=1, inplace=True)

### company

In [13]:
company.head()

,id_empresa,DT_CARGA_DW,sg_empresa_icao,sg_empresa_iata,nm_empresa,ds_tipo_empresa
0,1000002,2020-12-28T16:10:21,AEA,UX,AIR EUROPA LINEAS AEREAS SOCIEDAD ANONIMA,ESTRANGEIRA REGULAR
1,1000004,2020-12-28T16:10:21,MWM,WD,MODERN TRANSPORTE AÉREO DE CARGA S.A.,TRANSPORTE AÉREO REGULAR
2,1000010,2020-12-28T16:10:21,STR,NaN,STERNA LINHAS AÉREAS LTDA.,TRANSPORTE AÉREO REGULAR
3,1000049,2020-12-28T16:10:21,VCV,V0,CONSORCIO VENEZOLANO DE INDUSTRIAS AERONAUTICA...,ESTRANGEIRA NÃO REGULAR
4,1000077,2020-12-28T16:10:21,LOT,LO,LOT POLISH AIRLINES,ESTRANGEIRA NÃO REGULAR

In [14]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_empresa       265 non-null    int64
 1   DT_CARGA_DW      265 non-null    object
 2   sg_empresa_icao  265 non-null    object
 3   sg_empresa_iata  194 non-null    object
 4   nm_empresa       265 non-null    object
 5   ds_tipo_empresa  265 non-null    object
dtypes: int64(1), object(5)
memory usage: 12.6+ KB

In [15]:
company = company.dropna()

company.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194 entries, 0 to 264
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_empresa       194 non-null    int64
 1   DT_CARGA_DW      194 non-null    object
 2   sg_empresa_icao  194 non-null    object
 3   sg_empresa_iata  194 non-null    object
 4   nm_empresa       194 non-null    object
 5   ds_tipo_empresa  194 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.6+ KB

In [16]:
company.drop(['DT_CARGA_DW'], axis=1, inplace=True)

### equip

In [17]:
equip.head()

,id_equipamento,DT_CARGA_DW,sg_equipamento_icao,ds_modelo
0,0,2020-12-28T16:10:21,NaN,NaN
1,5,2020-12-28T16:10:21,A124,ANTONOV AN-124 RUSLAN
2,11,2020-12-28T16:10:21,A30B,AIRBUS INDUSTRIE A300C4/F4 FREIGHTER
3,12,2020-12-28T16:10:21,A310,AIRBUS A310
4,13,2020-12-28T16:10:21,A318,AIRBUS A318

In [18]:
equip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_equipamento       92 non-null     int64
 1   DT_CARGA_DW          92 non-null     object
 2   sg_equipamento_icao  91 non-null     object
 3   ds_modelo            90 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.0+ KB

In [19]:
#drop the null values in the dataset
equip = equip.dropna()

equip.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90 entries, 1 to 91
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_equipamento       90 non-null     int64
 1   DT_CARGA_DW          90 non-null     object
 2   sg_equipamento_icao  90 non-null     object
 3   ds_modelo            90 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.5+ KB

In [20]:
equip.drop(['DT_CARGA_DW'], axis=1, inplace=True)

### line

In [21]:
line

,id_tipo_linha,DT_CARGA_DW,cd_tipo_linha,ds_tipo_linha,ds_natureza_tipo_linha,ds_servico_tipo_linha
0,0,2020-12-28T16:10:21,X,NÃO IDENTIFICADA,NÃO IDENTIFICADA,NÃO IDENTIFICADO
1,1,2020-12-28T16:10:21,N,DOMÉSTICA MISTA,DOMÉSTICA,PASSAGEIRO
2,2,2020-12-28T16:10:21,C,DOMÉSTICA CARGUEIRA,DOMÉSTICA,CARGUEIRO
3,3,2020-12-28T16:10:21,I,INTERNACIONAL MISTA,INTERNACIONAL,PASSAGEIRO
4,4,2020-12-28T16:10:21,G,INTERNACIONAL CARGUEIRA,INTERNACIONAL,CARGUEIRO
5,5,2020-12-28T16:10:21,E,DOMÉSTICA ESPECIAL,DOMÉSTICA,PASSAGEIRO
6,6,2020-12-28T16:10:21,H,INTERNACIONAL SUB-REGIONAL,INTERNACIONAL,PASSAGEIRO
7,7,2020-12-28T16:10:21,R,DOMÉSTICA REGIONAL,DOMÉSTICA,PASSAGEIRO
8,8,2020-12-28T16:10:21,L,DOMÉSTICA REDE POSTAL,DOMÉSTICA,CARGUEIRO

In [22]:
line = line.drop([0])
line.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 1 to 8
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_tipo_linha           8 non-null      int64
 1   DT_CARGA_DW             8 non-null      object
 2   cd_tipo_linha           8 non-null      object
 3   ds_tipo_linha           8 non-null      object
 4   ds_natureza_tipo_linha  8 non-null      object
 5   ds_servico_tipo_linha   8 non-null      object
dtypes: int64(1), object(5)
memory usage: 516.0+ bytes

In [23]:
line.drop(['DT_CARGA_DW'], axis=1, inplace=True)

## And now the big guy

In [24]:
voos_path = 'dataset/DW_VOOS.csv'
voos = pd.read_csv(voos_path, encoding='latin1')

C:\Users\tomas\AppData\Local\Temp\ipykernel_35028\1177717261.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  voos = pd.read_csv(voos_path, encoding='latin1')

In [25]:
voos.head()

,id_basica,id_empresa,nr_voo,nr_singular,id_di,cd_di,ds_di,ds_grupo_di,dt_referencia,nr_semana_referencia,...,nr_correio_km,nr_bagagem_paga_km,nr_bagagem_gratis_km,nr_ask,nr_rpk,nr_atk,nr_rtk,id_arquivo,nr_linha,dt_sistema
0,20204791,1001208,270,750,5,3,RETORNO,IMPRODUTIVO,2000-01-05,2,...,0.0,0.0,0.0,0.0,0.0,582340.0,463844.0,15757,141.0,2020-02-06T05:26:59
1,20204792,1001208,270,750,5,3,RETORNO,IMPRODUTIVO,2000-01-05,2,...,0.0,0.0,0.0,0.0,0.0,503250.0,400847.0,15757,139.0,2020-02-06T05:26:59
2,20204793,1001208,265,750,5,3,RETORNO,IMPRODUTIVO,2000-01-30,6,...,0.0,0.0,0.0,0.0,0.0,503250.0,56222.0,15757,138.0,2020-02-06T05:26:59
3,20204794,1001208,265,750,5,3,RETORNO,IMPRODUTIVO,2000-01-30,6,...,0.0,0.0,0.0,0.0,0.0,582340.0,65057.0,15757,136.0,2020-02-06T05:26:59
4,20204813,1001208,264,750,5,3,RETORNO,IMPRODUTIVO,2000-01-23,5,...,0.0,0.0,0.0,0.0,0.0,582340.0,343278.0,15757,102.0,2020-02-06T05:26:59

In [26]:
voos.columns

Index(['id_basica', 'id_empresa', 'nr_voo', 'nr_singular', 'id_di', 'cd_di',
       'ds_di', 'ds_grupo_di', 'dt_referencia', 'nr_semana_referencia',
       'id_tipo_linha', 'ds_natureza_etapa', 'hr_partida_real',
       'dt_partida_real', 'nr_semana_partida_real', 'id_aerodromo_origem',
       'nr_etapa', 'hr_chegada_real', 'dt_chegada_real',
       'nr_semana_chegada_real', 'id_equipamento', 'ds_modelo', 'ds_matricula',
       'id_aerodromo_destino', 'lt_combustivel', 'nr_assentos_ofertados',
       'kg_payload', 'km_distancia', 'nr_passag_pagos', 'nr_passag_gratis',
       'kg_bagagem_livre', 'kg_bagagem_excesso', 'kg_carga_paga',
       'kg_carga_gratis', 'kg_correio', 'nr_decolagem', 'nr_horas_voadas',
       'kg_peso', 'nr_velocidade_media', 'nr_pax_gratis_km',
       'nr_carga_paga_km', 'nr_carga_gratis_km', 'nr_correio_km',
       'nr_bagagem_paga_km', 'nr_bagagem_gratis_km', 'nr_ask', 'nr_rpk',
       'nr_atk', 'nr_rtk', 'id_arquivo', 'nr_linha', 'dt_sistema'],
      dtype='object')

In [27]:
voos.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18051399 entries, 0 to 18051398
Data columns (total 52 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id_basica               int64
 1   id_empresa              int64
 2   nr_voo                  int64
 3   nr_singular             object
 4   id_di                   int64
 5   cd_di                   object
 6   ds_di                   object
 7   ds_grupo_di             object
 8   dt_referencia           object
 9   nr_semana_referencia    int64
 10  id_tipo_linha           int64
 11  ds_natureza_etapa       object
 12  hr_partida_real         object
 13  dt_partida_real         object
 14  nr_semana_partida_real  float64
 15  id_aerodromo_origem     int64
 16  nr_etapa                int64
 17  hr_chegada_real         object
 18  dt_chegada_real         object
 19  nr_semana_chegada_real  float64
 20  id_equipamento          int64
 21  ds_modelo               object
 22  ds_matricula            object
 23  id_aerodromo_destino    int64
 24  lt_combustivel          float64
 25  nr_assentos_ofertados   float64
 26  kg_payload              float64
 27  km_distancia            float64
 28  nr_passag_pagos         float64
 29  nr_passag_gratis        float64
 30  kg_bagagem_livre        float64
 31  kg_bagagem_excesso      float64
 32  kg_carga_paga           float64
 33  kg_carga_gratis         float64
 34  kg_correio              float64
 35  nr_decolagem            int64
 36  nr_horas_voadas         float64
 37  kg_peso                 float64
 38  nr_velocidade_media     float64
 39  nr_pax_gratis_km        float64
 40  nr_carga_paga_km        float64
 41  nr_carga_gratis_km      float64
 42  nr_correio_km           float64
 43  nr_bagagem_paga_km      float64
 44  nr_bagagem_gratis_km    float64
 45  nr_ask                  float64
 46  nr_rpk                  float64
 47  nr_atk                  float64
 48  nr_rtk                  float64
 49  id_arquivo              int64
 50  nr_linha                float64
 51  dt_sistema              object
dtypes: float64(27), int64(12), object(13)
memory usage: 7.0+ GB

### what now?
I want to keep just informations that are available also in the other tables. in order to do so, I follow this logic:

keep flights with: 
-   cleaned id_empresa
-   cleaned id_equipamento
-   cleaned id_aerodromo_origem
-   cleaned id_aerodromo_destino
-   cleaned id_tipo_linea

after this, check the shape of the table and decide what to do

In [28]:
company_ids = company['id_empresa'].tolist()

voos = voos[voos['id_empresa'].isin(company_ids)]

In [29]:
voos.shape

(17491545, 52)

In [30]:
equip_ids = equip['id_equipamento'].tolist()
voos = voos[voos['id_equipamento'].isin(equip_ids)]

In [31]:
voos.shape

(17435021, 52)

In [32]:
orig_ids = orig['id_aerodromo_origem'].tolist()
voos = voos[voos['id_aerodromo_origem'].isin(orig_ids)]

In [33]:
voos.shape

(17154617, 52)

In [34]:
dest_ids = dest['id_aerodromo_destino'].tolist()
voos = voos[voos['id_aerodromo_destino'].isin(dest_ids)]

In [35]:
voos.shape

(16893309, 52)

In [36]:
line_ids = line['id_tipo_linha'].tolist()
voos = voos[voos['id_tipo_linha'].isin(line_ids)]

In [37]:
voos.shape

(15453534, 52)

In [38]:
voos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15453534 entries, 1835 to 18051398
Data columns (total 52 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id_basica               int64
 1   id_empresa              int64
 2   nr_voo                  int64
 3   nr_singular             object
 4   id_di                   int64
 5   cd_di                   object
 6   ds_di                   object
 7   ds_grupo_di             object
 8   dt_referencia           object
 9   nr_semana_referencia    int64
 10  id_tipo_linha           int64
 11  ds_natureza_etapa       object
 12  hr_partida_real         object
 13  dt_partida_real         object
 14  nr_semana_partida_real  float64
 15  id_aerodromo_origem     int64
 16  nr_etapa                int64
 17  hr_chegada_real         object
 18  dt_chegada_real         object
 19  nr_semana_chegada_real  float64
 20  id_equipamento          int64
 21  ds_modelo               object
 22  ds_matricula            object
 23  id_aerodromo_destino    int64
 24  lt_combustivel          float64
 25  nr_assentos_ofertados   float64
 26  kg_payload              float64
 27  km_distancia            float64
 28  nr_passag_pagos         float64
 29  nr_passag_gratis        float64
 30  kg_bagagem_livre        float64
 31  kg_bagagem_excesso      float64
 32  kg_carga_paga           float64
 33  kg_carga_gratis         float64
 34  kg_correio              float64
 35  nr_decolagem            int64
 36  nr_horas_voadas         float64
 37  kg_peso                 float64
 38  nr_velocidade_media     float64
 39  nr_pax_gratis_km        float64
 40  nr_carga_paga_km        float64
 41  nr_carga_gratis_km      float64
 42  nr_correio_km           float64
 43  nr_bagagem_paga_km      float64
 44  nr_bagagem_gratis_km    float64
 45  nr_ask                  float64
 46  nr_rpk                  float64
 47  nr_atk                  float64
 48  nr_rtk                  float64
 49  id_arquivo              int64
 50  nr_linha                float64
 51  dt_sistema              object
dtypes: float64(27), int64(12), object(13)
memory usage: 6.1+ GB

In [39]:
voos.dropna(inplace=True)
voos.shape

(15430224, 52)

##### ok **maybe** 15,4 M of flights are a bit too much :/ I'm going to find a way to diminish it substantially

In [40]:
voos.dt_partida_real.unique()

array(['2000-01-11', '2000-01-21', '2000-01-27', ..., '2020-11-21',
       '2020-11-20', '2020-12-01'], dtype=object)

In [41]:
# keep the flights where date of departure is after 2018
flights = voos.copy()
flights = flights[flights['dt_partida_real'] > '2018-01-01']
flights.shape

(2107263, 52)

##### much better, but still 2,1 M is still a lot... maybe i'll just keep the flights for the last year (2020)

In [42]:
flights2 = flights.copy()
flights2 = flights2[flights2['dt_partida_real'] > '2020-01-01']

In [43]:
flights2.shape

(367029, 52)

##### ok 300K is more managable. Now, I have to make sure that the other tables just keep the useful informations that I have in the flights2 table

In [44]:
print(f'before: line: {line.shape}, orig: {orig.shape}, dest: {dest.shape}, equip: {equip.shape}, company: {company.shape}')

line_id = flights2['id_tipo_linha'].tolist()
line = line[line['id_tipo_linha'].isin(line_id)]

dep_id = flights2['id_aerodromo_origem'].tolist()
orig = orig[orig['id_aerodromo_origem'].isin(dep_id)]

dest_id = flights2['id_aerodromo_destino'].tolist()
dest = dest[dest['id_aerodromo_destino'].isin(dest_id)]

equip_id = flights2['id_equipamento'].tolist()
equip = equip[equip['id_equipamento'].isin(equip_id)]

company_id = flights2['id_empresa'].tolist()
company = company[company['id_empresa'].isin(company_id)]

print(f'after: line: {line.shape}, orig: {orig.shape}, dest: {dest.shape}, equip: {equip.shape}, company: {company.shape}')

before: line: (8, 5), orig: (732, 7), dest: (755, 7), equip: (90, 3), company: (194, 5)
after: line: (4, 5), orig: (248, 7), dest: (253, 7), equip: (22, 3), company: (13, 5)

### save the final data

In [45]:
#save the data
dest.to_csv('dataset/processed_data/destination.csv', index=False)
orig.to_csv('dataset/processed_data/origin.csv', index=False)
company.to_csv('dataset/processed_data/company.csv', index=False)
equip.to_csv('dataset/processed_data/equipment.csv', index=False)
line.to_csv('dataset/processed_ata/line.csv', index=False)
flights2.to_csv('dataset/processed_data/flights.csv', index=False)